venv/
env1/
.idea/
logs/
*.ini
*.conf
*.pyc
*.log
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
.DS_Store 
/app/api_1_0/xunquan.pyc
/app/api_1_0/item.pyc
/app/api_1_0/qianggou.pyc
temp/
static/uploads/
static/hgt/
static/downloads
static
.idea
app/utils
*.p8

