<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App support</title>
</head>
<style type="text/css">
    body{
        margin: 0px;
        background-color: #fff;

    }

    ul {

        color: #666666;
        align-self: left;
        align-content: left;
        margin-top: 80px;
        margin-left: 10px;
    }

    li {
        height: 100px;
        font-size: 20px;
    }

</style>
<body>

<ul>


        <li>

         <div>


         <a href="sms:15167140620">短信：15167140620 </a>

        </div>


    </li>

    <li>

         <div>


         <a href="mailto:wangxuepingyl@163.com">邮箱：wangxuepingyl@163.com </a>

        </div>


    </li>

        <li>

         <div>


         <a>地址：浙江省杭州市上城区太平门直街260号三新银座1203室</a>

        </div>


    </li>


</ul>

</body>
</html>
