<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solunar Theroy</title>
</head>
<body>


<p style="text-align: center; line-height: 150%;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun; font-size: 29px;"><span style="color: rgb(0, 0, 0);">Solunar Theory</span></span></strong></p>
    <p style="text-align: right; line-height: 150%; text-indent: 28px;"><span style="line-height: 150%;"><span style="color: rgb(0, 0, 0); font-family: 微软雅黑,Microsoft YaHei,宋体,SimSun,黑体, SimHei; font-size: 16px;"> </span></span></p>

    <p class="setasthetitle" id="setasthetitle1502851353264" style="line-height: 150%;"><span style="color: rgb(0, 0, 0);"><strong><span style="line-height: 150%; font-family: 宋体,SimSun; font-size: 19px;"></span></strong><strong><span style="line-height: 150%; font-size: 19px;"> </span></strong><strong><span style="line-height: 150%; font-family: 宋体,SimSun; font-size: 19px;">Solunar Theory</span></strong></span></p>

    <p style="line-height: 150%; text-indent: 28px;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"></span></strong><span style="line-height: 150%; font-family: 宋体,SimSun;">Solunar Theory是一个假设，即动物和鱼类根据月球的位置来移动它们的身体。 该理论于1926年由约翰·奥尔登·奈特（John Alden Knight）提出，但据说在出版之前很久就被猎人和渔民使用了。</span></span></span></span></span></p>

    <p style="line-height: 150%;"><strong><span style="line-height: 150%; font-size: 19px;"><span style="color: rgb(0, 0, 0); font-family: 微软雅黑,Microsoft YaHei,宋体,SimSun,黑体, SimHei;">&nbsp;</span></span></strong></p>
    <p class="setasthetitle" id="setasthetitle1502851353274" style="line-height: 150%;"><span style="color: rgb(0, 0, 0);"><strong><span style="line-height: 150%; font-family: 宋体,SimSun; font-size: 19px;"></span></strong><strong><span style="line-height: 150%; font-size: 19px;"> </span></strong><strong><span style="line-height: 150%; font-family: 宋体,SimSun; font-size: 19px;" data-spm-anchor-id="a1zaa.8161610.0.i1.6aae54ccmWkLxM">History</span></strong></span></p>

    <p style="line-height: 150%; text-indent: 28px;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">1926年5月，John Aldenn Knight汇集了一些捕鱼民间传说和其他捕鱼因素，如太阳和月亮，因此Solunar（太阳的Sol和月亮的lunar）这个名称形成了一个关于动物运动模式的理论。奈特编制了一系列控制或影响许多淡水和咸水鱼日常行为的因素。考虑了33种不同因素中的每一种。只有3项被保留的三个因素是太阳，月亮和潮汐。对于咸水捕鱼，潮汐一直被认为是控制鱼类行为的一个因素。随着奈特的研究进展，他发现月球和太阳的位置相互之间的关系可能是决定因素，而不仅仅是潮汐。除了月亮升起的时间（月出） - 月亮下降，他的研究确定在两个主要时期之间发生了一天的月中天时间。由此他确定有重要时期（月亮中天时刻）和次要时期（月亮上升 - 月亮下降）。奈特于1936年发表了第一张Solunar Table。</span></span></p>
    <p style="line-height: 150%; text-indent: 28px;"><span style="line-height: 150%;"><span style="color: rgb(0, 0, 0); font-family: 微软雅黑,Microsoft YaHei,宋体,SimSun,黑体, SimHei; font-size: 16px;">&nbsp;</span></span></p>


        <p class="setasthetitle" id="setasthetitle1502851353284" style="line-height: 150%;"><span style="color: rgb(0, 0, 0);"><strong><span style="line-height: 150%; font-family: 宋体,SimSun; font-size: 19px;"></span></strong><strong><span style="line-height: 150%; font-size: 19px;"> </span></strong><strong><span style="line-height: 150%; font-family: 宋体,SimSun; font-size: 19px;">Solunar Table</span></strong></span></p>

    <p style="line-height: 150%; text-indent: 28px;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"></span></strong><span style="line-height: 150%; font-family: 宋体,SimSun;">Solunar table是渔民和猎人用来确定本月最佳日期以及捕鱼和狩猎游戏时间的表格。了解潮汐，日出和日落的时间有助于渔民预测鱼何时会咬钩。对于猎人来说，潮汐不是一个因素。猎人使用太阳和月亮的对齐来确定猎物何时可能移动最多。其他条件不利，鱼类会喂食，陆地动物会四处移动，鸟类会唱歌并从一个地方飞到另一个地方，理论上，所有生物在日月期间会比其他明显平等的生物更活跃，更活跃值。 “...垂钓者发现它是每天最佳钓鱼的指南，他们的运动质量也有所改善......”使用这些表，渔民和猎人可以知道月亮是什么时候直接在脚下或头顶上。当有满月或新月时，最强的活动发生，而当有四分之一月亮或四分之一月亮时，活动是最弱的。这是因为当两者都在我们的头顶上方或正下方时，月亮和太阳的组合重力最强。由于美国海军天文台的技术改进，以及GPS技术的可用性和改进，人们现在可以获得更好的月球数据。这些新技术使得日月共同理论能够以更高的精度产生狩猎和捕捞时间。重要的是要注意，各种网站上的表格中的数据应该定期用美国海军天文台的数据进行重新验证，并与其他着名的日月共同数据提供者进行比较。由于天体物理学计算的复杂性，不一致性很多
并忽略了产生有用结果所需的相关异常检查。月球过境不会超过一天，或相关时间超过几分钟，这表明某一特定位置存在根本问题，应该是可疑的。 在假设所呈现的数据具有权威性或准确性之前，应对所有数据提供者进行验证。</span></span></span></span></span></p>

    <p style="line-height: 150%;"><strong><span style="line-height: 150%; font-size: 19px;"><span style="color: rgb(0, 0, 0); font-family: 微软雅黑,Microsoft YaHei,宋体,SimSun,黑体, SimHei;">&nbsp;</span></span></strong></p>



</body>
</html>