<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日出和云海解释</title>
</head>
<body>
           <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(前言) 生成图片较为缓慢，请稍候</span></span></strong></p>
     <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(一) 低云数据问题</span></span></strong></p>
    <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">因为山区有造云聚云沉云作用，所以图表中的低云值往往比实际中的低，云顶也比实际中的高。可以适当做下调整。</span></span></span></strong></p>
    <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(二) 中云预测日出</span></span></strong></p>
    <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">收集的山峰主要在1000-2350米，基本在中云下面。中云在数值模式是可信的，如果中云没有值，说明附近上十公里几乎没有中云，基本可以看到日出。</span></span></span></strong></p>
    <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(三) 中云低云预测云海</span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">如果中云没值，低云有值，再结合湿度和风，风不要太大。大概率是有云海的。</span></span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(四)露点温度解释</span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">露点温度，大气图第一行的深红线，指气体中水蒸气凝结成液态的温度。当气温和露点温度相同时，就会起雾，如果雾达到一定厚度就会形成云。所以看云海露点温度和气温的差值比较关键，判断大气中是否有大量水汽生成。我们这里提供山顶下500米的大气图，图中第一行有相对湿度(蓝线),气体温度(红线),露点温度(深红线)。</span></span></span></strong></p>
    <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(五) 湿度和露点温度预测云海</span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">如果中云低云没有值。可以结合湿度预测有没有云海。只要风合适，我们这里设定一个条件，山顶相对湿度到100%，山顶下500米相对湿度到100%，或者气温达到露点温度(深红)，山体有可能造云成功。</span></span></span></strong></p>

          <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(六) 湿度和露点温度预测云海</span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">露点温度和气温线不重合时，液态水会气化，也就是雾会散。</span></span></span></strong></p>

        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(七) 地形和风向预测云海或者云瀑</span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">可以点预报页面的右上角按钮查看地形，根据山脊走向，结合风速风向判断是否有日出云海和云瀑的发生。</span></span></span></strong></p>


</body>
</html>