<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日出和云海解释</title>
</head>
<body>
           <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;">(前言)我们倾向于分析气温露点温度风等气象因素分析预测，而不是通过分析云层分布。我们认为云层分布是这些天气因素的结果，当然有一点参考因素，但在山体微型气候中会有些偏差。<span style="color: rgb(0, 0, 0); font-size: 16px;"></span></span></strong></p>
     <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(一) 低云数据问题</span></span></strong></p>
    <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">因为山区有造云聚云沉云作用，所以低云值往往比实际中的低，可以适当做下调整。</span></span></span></strong></p>
    <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(二) 中云预测日出</span></span></strong></p>
    <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">收集的山峰主要在1000-2350米，基本在中云下面。中云在数值模式是可信的，如果中云没有值，说明附近上十公里几乎没有中云，基本可以看到日出。</span></span></span></strong></p>
    <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(三) 中云低云预测云海</span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">如果中云没值，低云有值，再结合湿度和风，风不要太大。大概率是有云海的。</span></span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(四)露点温度解释</span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">露点温度，指气体中水蒸气凝结成液态的温度。当气温和露点温度相同时，就会起雾，如果雾达到一定厚度就会形成云。所以看云海露点温度和气温的差值比较关键，判断大气中是否有大量水汽生成。我们这里提供山顶下500米的大气数据。</span></span></span></strong></p>
    <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(五) 湿度和露点温度预测云海</span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">山顶下500米相对湿度到100%，或者气温和露点温度差为0，山体有可能造云成功。</span></span></span></strong></p>

          <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(六) 湿度和露点温度预测雾什么时候散</span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">露点温度和气温线不重合时，液态水会气化，也就是雾会散。</span></span></span></strong></p>

        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(七) 地形和风向风速预测云海或者云瀑</span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">可以点预报页面的右上角按钮查看地形，根据山脊走向，结合风速风向判断是否有日出云海和云瀑的发生。风速大于3m/s时开始影响云海稳定，大于5m/s时几乎没有云海</span></span></span></strong></p>

           <p style="line-height: 150%; text-indent: 28px;"><strong><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">(八) CIN作为辅助手段</span></span></strong></p>
        <p style="line-height: 150%; text-indent: 28px;"><strong><span style="text-decoration: underline;"><span style="line-height: 150%; font-family: 宋体,SimSun;"><span style="color: rgb(0, 0, 0); font-size: 16px;">CIN可以判断大气稳定。CNI也叫对流抑制，指一个空气包从地面抬升时，需要克服多少能量障碍才能继续上升。CIN负值越大大气越稳定，可以作为辅助手段判断云海是否稳定。</span></span></span></strong></p>



</body>
</html>